/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* edited for Maker Square Homework purposes by Diego Pulido- */
/* ---------------------------------------------------------- */

/* Example 07 */

.container {
	width: 80%; /* change me to a percentage width, like 80% */
	margin: 0 auto;
}


.header {}

.header:after{
	content: " ";
  border: 1px solid black;
  display: block;
  clear: both;
  visibility: hidden;
}

.logo {
	width: 20%;
	float: left;
}

.navigation {
	width: 70%;
	float: right;
}



.main-content {
	width: 100%;
	height: 100%;
}

/*.main-content div {
	margin: 10px;
}*/

.main-content:after{
	content: " ";
  border: 1px solid black;
  display: block;
  clear: both;
  visibility: hidden;
}

.sidebar {
	float: left;
	width: 20%;
	/*height: 100%;*/
}

.sub-content {

	width: 70%;
	float: right;
}

.sub-content-2 {

	width: 70%;
	float: right;
}

.footer {
	clear: both;
}
